In [1]:
import numpy as np 
import pandas as pd
import warnings 
df=pd.read_csv("Social_Network_Adds.csv")
df

      User ID  Age  EstimatedSalary  Purchased  Gender
0    15624510   19            19000          0    Male
1    15810944   35            20000          0    Male
2    15668575   26            43000          0  Female
3    15603246   27            57000          0  Female
4    15804002   19            76000          0    Male
..        ...  ...              ...        ...     ...
395  15691863   46            41000          1  Female
396  15706071   51            23000          1    Male
397  15654296   50            20000          1  Female
398  15755018   36            33000          0    Male
399  15594041   49            36000          1  Female

[400 rows x 5 columns]

In [2]:
df.head

<bound method NDFrame.head of       User ID  Age  EstimatedSalary  Purchased  Gender
0    15624510   19            19000          0    Male
1    15810944   35            20000          0    Male
2    15668575   26            43000          0  Female
3    15603246   27            57000          0  Female
4    15804002   19            76000          0    Male
..        ...  ...              ...        ...     ...
395  15691863   46            41000          1  Female
396  15706071   51            23000          1    Male
397  15654296   50            20000          1  Female
398  15755018   36            33000          0    Male
399  15594041   49            36000          1  Female

[400 rows x 5 columns]>

In [3]:
print(df.shape)

(400, 5)

In [4]:
x = pd.DataFrame(df.iloc[:, :-1])
y = pd.DataFrame(df.iloc[:, -1])

In [5]:
x

      User ID  Age  EstimatedSalary  Purchased
0    15624510   19            19000          0
1    15810944   35            20000          0
2    15668575   26            43000          0
3    15603246   27            57000          0
4    15804002   19            76000          0
..        ...  ...              ...        ...
395  15691863   46            41000          1
396  15706071   51            23000          1
397  15654296   50            20000          1
398  15755018   36            33000          0
399  15594041   49            36000          1

[400 rows x 4 columns]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,x_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
print (classifier.fit(x_train,y_train))

LogisticRegression()

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
y_pred = classifier.predict(x_train)

In [12]:
y_pred

array(['Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male',
       'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female',
       'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female',
       'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female',
       'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female',
       'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male',
       'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female',
       'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male',
       'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male',
       'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male',
       'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female',
       'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male',
       'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female',
       'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female',
       'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male',
       'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female',
       'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female',
       'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female',
       'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male',
       'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male',
       'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female',
       'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male',
       'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female',
       'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female',
       'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female',
       'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male',
       'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female',
       'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female',
       'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female',
       'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male',
       'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male',
       'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female',
       'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male',
       'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male',
       'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female',
       'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male',
       'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female',
       'Male', 'Male', 'Female', 'Male'], dtype=object)

In [14]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_train,y_pred)

In [15]:
cm

array([[80, 80],
       [78, 82]], dtype=int64)

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_train,y_pred))

              precision    recall  f1-score   support

      Female       0.51      0.50      0.50       160
        Male       0.51      0.51      0.51       160

    accuracy                           0.51       320
   macro avg       0.51      0.51      0.51       320
weighted avg       0.51      0.51      0.51       320

In [19]:
pp = (80+80)/(80+0+78+82)

In [20]:
print(pp)

0.6666666666666666